<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">

    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>pendiente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="done-all"></ion-icon>
      <ion-label>terminado</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
