<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-list color="dark">
        <ion-item *ngFor="let lista of deseosServices.listas" 
                  detail color="dark">
          <ion-label>{{ lista.titulo }}</ion-label>
        </ion-item>
    </ion-list>
  
</ion-content>
